@import "variable.scss";
body, html{
  line-height: 1;
  height: 100%;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: $color-text;
}
.my-btn-long{
  display: block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  color: $color-text;
}
